h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 0;
    padding: 0;
}


.sokeio-screenshot-banner {
    height: 200px;
    background-color: #253447;
    color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 4px 4px 0 0;

    img {
        // max-width: 100%;
        max-height: 100%;
    }

    &.sokeio-screenshot-banner-large {
        height: 300px;
        width: auto;
    }
}


.sokeio-btn-system-updater {

    background: #9d3414 !important;
    color: #fcfdfe !important;
    border-radius: 2px !important;
    font-weight: 700;

    &:hover {
        background: #1e2d40 !important;
        color: #fcfdfe !important;
    }

    .nav-link-icon {
        i {
            color: #fcfdfe !important;
        }
    }
}

.tox-tinymce {
    border: var(--tblr-border-width) solid var(--tblr-border-color) !important;
    background-color: var(--tblr-bg-forms);
    background-clip: padding-box;
    border-radius: var(--tblr-border-radius) !important;
    box-shadow: var(--tblr-box-shadow-input);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    &:focus {
        color: var(--tblr-body-color);
        background-color: var(--tblr-bg-forms);
        border-color: #80aad3;
    }
}
.highlighted-shortcode {
    background-color: yellow; /* Màu nền cho shortcode */
    border: 1px solid orange; /* Viền cho shortcode */
    padding: 2px; /* Khoảng cách bên trong */
}