.so-fm-wrapper {
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 400px;

    .so-fm-header {
        height: 40px;
        background-color: #4472b3;
        color: rgb(238, 236, 236);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;


        .so-fm-header-title {
            flex: none;

            a {
                font-weight: bold;
                font-size: 14px;
                background-color: #253447;
                border-radius: 2px;

                padding: 5px 10px;
                text-decoration: none;
                color: #fff;

                &.logo-large {
                    display: inline-block;
                }

                &.logo-small {
                    display: none;
                }

                @media (max-width: 768px) {
                    &.logo-large {
                        display: none;
                    }

                    &.logo-small {
                        display: inline-block;
                    }
                }
            }
        }

        .so-fm-header-control {
            flex: auto;
            display: flex;
            align-items: center;

            .so-fm-header-control-item {
                border: 1px solid #263445;
                background-color: #4a5e7a;
                border-radius: 2px;
                display: flex;
                align-items: center;
                padding: 3px 7px;
                margin-left: 7px;
                font-weight: bold;
                color: #fff;


                .so-fm-header-control-item-icon {

                    color: #fff;
                    font-size: 14px;
                }

                .so-fm-header-control-item-text {
                    margin-left: 5px;
                    font-size: 14px;
                }

                &:hover {
                    background-color: #b9bec5;
                    cursor: pointer;
                    color: #4a5e7a;
                    font-weight: bold;
                }

                @media screen and (max-width: 768px) {
                    .so-fm-header-control-item-text {
                        display: none;
                    }
                }
            }
        }
    }

    .so-fm-body {
        flex: auto;
        display: flex;

        .so-fm-folder-box {
            flex: none;
            height: calc(100vh - 190px);
            width: 250px;
            background-color: #f9f9f9;
            border-right: 1px solid #d6d6d6;

            .so-fm-folder-box-wrapper {
                height: 100%;

                .so-fm-folder-wrapper {
                    padding: 10px;
                    overflow: auto;
                    height: calc(100% - 42px);

                    .so-fm-folder-list {
                        overflow-y: auto;
                        width: 100%;
                        list-style: none;
                        padding: 0;

                        li {
                            width: 100%;
                        }

                        .so-fm-folder-item {
                            width: 100%;
                            border-bottom: 1px solid #d6d6d6;
                            padding: 5px 10px;
                            cursor: pointer;

                            &:hover {
                                background-color: #d6d6d6;
                            }

                            &.active {
                                background-color: #aea2a2;
                            }
                        }
                    }
                }
            }

        }

        .so-fm-body-list {
            flex: auto;
            padding: 7px;
            height: calc(100vh - 190px);
            overflow-y: auto;
            position: relative;

            .so-fm-loading {
                position: absolute;
                left: calc(100% / 2 - 20px);
                top: calc(100% / 2 - 10px);
                width: 40px;
                z-index: 9999;
            }

            .so-fm-body-grid {

                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
                gap: 7px;

                @media screen and (max-width: 768px) {
                    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
                }

                /* Enable vertical scrolling */
                .so-fm-item-box {
                    border: 1px solid #473131;
                    overflow: hidden;
                    background-color: #ccc;
                    border-radius: 3px;
                    height: 230px;
                    /* Set a fixed height */
                    display: flex;
                    flex-direction: column;

                    .so-fm-item-box-preview {
                        flex: auto;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        overflow: hidden;
                        background-color: #fff;

                        img {
                            max-width: 100%;
                            max-height: 100%;
                        }
                    }

                    .so-fm-item-box-name {
                        flex: none;
                        padding: 0px 3px;
                        border-top: 1px solid #473131;
                        background-color: #473131;
                        color: #fff;
                        text-align: center;
                        font-weight: bold;
                        height: 45px;
                        overflow: hidden;
                    }

                    &:hover {
                        cursor: pointer;
                    }

                    &.active {
                        box-shadow: 0 0 5px 2px #4472b3;
                    }
                }
            }

        }

        @media screen and (max-width: 768px) {
            flex-direction: column;

            .so-fm-folder-box {

                height: 200px;
                width: unset;
            }

            .so-fm-body-list {
                height: calc(100vh - 312px);
            }
        }

    }

    .so-fm-footer {
        height: 30px;
        background-color: #4472b3;
        color: rgb(238, 236, 236);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;

    }

    .so-fm-footer-action {
        padding: 5px 10px;
        text-align: end;
        background-color: #ccc;

        .btn {
            margin: 0 5px;
            padding: 3px 5px;
            border-radius: 2px;
        }
    }

    .so-fm-modal {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);

        .so-fm-modal-dialog {
            margin: 20px auto;
            width: 300px;
            min-height: 100px;
            background-color: #fff;
            padding: 5px;
            border-radius: 2px;
            justify-items: center;
            justify-content: center;
            text-align: center;

            .so-fm-modal-content {
                width: 100%;
            }

            .btn {
                padding: 3px 5px;

            }

            .form-control {
                padding: 3px 5px;

            }
        }
    }
}

.so-fm-modal-file-list-title {
    padding: 10px;
    border-bottom: 1px solid #d6d6d6;

    span {
        margin-left: 10px;
        cursor: pointer;
        padding: 2px 5px;
        border-radius: 2px;
        background-color: #d6d6d6;
    }
}

.so-fm-modal-file-list {
    max-height: 300px;
    overflow-y: auto;

    .so-fm-modal-upload-file-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #d6d6d6;
        padding: 5px 10px;

        .so-fm-modal-file-name {
            flex: auto;
        }

        .so-fm-modal-file-size {
            flex: none;
            margin-left: 10px;
            padding: 2px 5px;
            border-radius: 2px;
            background-color: #d6d6d6;
            width: 80px;
            text-align: center;
        }

        .so-fm-modal-file-remove {
            flex: none;
            margin-left: 10px;
            padding: 2px 10px;
            border-radius: 2px;
            background-color: #d6d6d6;
            cursor: pointer;
        }
    }
}

.so-modal {
    .so-fm-wrapper {
        border-radius: 3px;

        .so-fm-body {
            min-height: calc(100vh - 190px);
        }

    }

}

.so-page-media {

    .so-fm-wrapper .so-fm-body .so-fm-folder-box,
    .so-fm-wrapper .so-fm-body .so-fm-body-list {
        max-height: calc(100vh - 220px);
    }

    .so-fm-wrapper .so-fm-modal .so-fm-modal-dialog {
        margin-top: 100px;
        margin: 100px auto 0 auto;
        max-width: 400px;
        width: 90%;

        .btn {
            width: 100px;
        }
    }
}

.sokeio-media-file {
    .btn{
        padding: 4px 10px;
    }
    .sokeio-media-preview {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        max-width: 100%;
        overflow: auto;

        .sokeio-media-preview-item {
            margin-right: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
            max-width: 200px;
            max-height: 200px;
            cursor: pointer;
        }
    }
}