.file-manager {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1056 !important;

    .fm-wrapper {
        width: 90%;
        height: 80%;
        margin: 2% auto;
        background-color: #f5f5f5;
        border-radius: 2px;
        border: 1px solid #ccc;
        display: flex;
        flex-direction: column;

        .fm-header {
            user-select: none;
            /* Standard syntax */
            -moz-user-select: none;
            /* Firefox */
            -webkit-user-select: none;
            /* Chrome, Safari, and Opera */
            -ms-user-select: none;
            /* Internet Explorer/Edge */
            background-color: rgb(9, 152, 152);
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 45px;

            .header-title {
                flex: auto;
            }

            .btn-close {
                background-color: #fff;
            }

            h1 {
                color: #fff;
                margin: 0;
                font-size: 20px;
                font-weight: 700;
            }

            padding: 5px 10px;
        }

        .fm-toolbar {
            flex: none;
            width: 100%;
            height: 55px;
            background-color: rgb(90, 223, 240);
            display: flex;
            flex-direction: row;
            align-items: center;

            .toolbar-button {
                flex: auto;

                .btn {
                    margin-left: 5px;
                    border-radius: 2px;

                    i {
                        font-size: 22px;
                        margin-right: 5px;
                    }

                    @media screen and (max-width: 768px) {
                        i {
                            font-size: 18px;
                        }

                        span {
                            display: none;
                        }

                    }
                }
            }

            .toolbar-search {
                flex: none;
                min-width: 120px;
                display: flex;
                align-items: center;
                flex-direction: row;

                .btn {
                    margin-left: 5px;
                    border-radius: 2px;
                    margin-right: 5px;
                }
            }

            @media screen and (max-width: 768px) {
                flex-direction: column;
                height: unset;

                .toolbar-search,
                .toolbar-button {
                    margin-top: 5px;
                    margin-bottom: 5px;
                }
            }
        }

        .fm-body {
            background: #fff;
            flex: auto;
            display: flex;

            .body-content {
                flex: auto;
                overflow: auto;
            }

            .box-wrapper {
                max-height: 70vh;
                overflow: auto;
                padding: 0;
                margin: 0;

                .item-box {
                    user-select: none;
                    /* Standard syntax */
                    -moz-user-select: none;
                    /* Firefox */
                    -webkit-user-select: none;
                    /* Chrome, Safari, and Opera */
                    -ms-user-select: none;
                    /* Internet Explorer/Edge */
                    float: left;
                    width: 16.16666%;
                    height: 200px;
                    padding: 4px;
                    cursor: pointer;
                    display: flex;

                    @media screen and (max-width: 1600px) {
                        width: 16.66%;

                    }

                    @media screen and (max-width: 1440px) {
                        width: 20%;
                    }

                    @media screen and (max-width: 1024px) {
                        width: 25%;
                    }

                    @media screen and (max-width: 768px) {
                        width: 33.33%;
                    }

                    .item-wrapper {
                        border-radius: 3px;
                        border: 1px solid #ccc;
                        flex: auto;
                        display: flex;
                        flex-direction: column;

                        .item-body {
                            flex: auto;
                            text-align: center;
                            margin-top: 5%;
                            position: relative;
                            justify-content: center;
                            align-items: center;
                            display: flex;
                            overflow: auto;

                            img {
                                max-height: 90%;
                                max-width: 90%;
                            }
                        }

                        .item-name {
                            padding: 3px;
                            background-color: rgb(46, 113, 213);
                            color: #fff;
                            text-align: center;
                            height: 45px;
                        }
                    }


                    background: #fff;

                    &.active .item-wrapper {
                        border: 2px solid #576363;
                    }

                    .file-box {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            .fm-property-wrapper {
                flex: none;
                border: 1px solid #ccc;
                width: 250px;

                .fm-property-header {
                    height: 200px;
                    border-bottom: 1px solid #ccc;
                    justify-content: center;
                    align-items: center;
                    display: flex;

                    img {
                        max-height: 90%;
                        max-width: 90%;
                    }

                    i {
                        font-size: 96px;
                    }
                }

                .fm-property-body {
                    overflow: auto;
                    max-height: 450px;

                    .fm-property-item {
                        padding: 5px;

                        .fm-property-label {
                            font-weight: 700;
                        }

                        .fm-property-value {
                            margin-left: 2px;
                        }
                    }
                }

                @media screen and (max-width: 768px) {
                    width: 100%;
                    display: none;

                }
            }


        }

        .footer-wrapper {
            background-color: rgb(90, 223, 240);
            min-height: 45px;
            display: flex;
            flex-direction: row;
            flex: none;

            .footer-info {
                flex: auto;
                display: flex;
                align-items: center;

                .box-info {
                    display: flex;

                    .label-info {
                        margin-left: 5px;
                        color: #fff;
                    }

                    .value-info {
                        color: #fff;
                        margin-left: 5px;
                        font-weight: 700;
                    }
                }

            }

            .footer-button {
                display: flex;
                align-items: center;

                .btn {
                    margin-right: 5px;
                    border-radius: 2px;
                }
            }
        }
    }

}

.fm-modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1056 !important;
}

.fm-modal {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1056 !important;
    margin: 0 auto;

    .fm-content {
        z-index: 1056 !important;
        border-radius: 3px;
        border: 1px solid #ccc;
        background-color: #fff;
        width: 80%;
        min-width: 300px;
        margin: 10px auto;

        .fm-modal-header {
            padding: 5px 10px;
            display: flex;
            flex-direction: row;

            .fm-modal-title {
                flex: auto;
                margin: 0;
                padding: 0;
            }

            border-bottom: 1px solid #ccc;
        }

        .fm-modal-body {
            padding: 10px;
            min-height: 50px;

            .fm-upload-file {
                cursor: pointer;
                user-select: none;
                /* Standard syntax */
                -moz-user-select: none;
                /* Firefox */
                -webkit-user-select: none;
                /* Chrome, Safari, and Opera */
                -ms-user-select: none;
                /* Internet Explorer/Edge */
                font-weight: 700;
                font-size: 20px;
                width: 100%;
                min-height: 200px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px dashed #a9a9a9;
                border-radius: 5px;
                padding: 10px;

                &:hover {
                    background-color: #f5f5f5;
                }
            }
        }

        .fm-modal-footer {

            border-top: 1px solid #ccc;
            padding: 5px 10px;
            text-align: right;

            .btn {
                border-radius: 3px;
                padding: 5px 10px;
            }
        }
    }

    &.fm-modal-fullscreen {
        .fm-content {
            position: relative;
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            border-radius: 0;

            .fm-modal-body {
                margin: 0;
                padding: 0;
                min-height: 100%;
                min-width: 100%;
            }
        }
    }
}

.image-editor-wrapper {
    width: 100%;
    height: calc(100% - 35px);
    position: absolute;
}

.fm-ctxmenu {
    position: fixed;
    border: 1px solid #999;
    padding: 2px 0;
    box-shadow: #aaa 3px 3px 3px;
    background: #fff;
    margin: 0;
    z-index: 9999999999 !important;
    overflow-y: auto;
    font: 15px Verdana, sans-serif;
    box-sizing: border-box;
}

.fm-ctxmenu li {
    margin: 1px 0;
    display: block;
    position: relative;
    user-select: none;
}

.fm-ctxmenu li.heading {
    font-weight: bold;
    margin-left: -5px;
}

.fm-ctxmenu li span {
    display: block;
    padding: 2px 20px;
    cursor: default;
}

.fm-ctxmenu li a {
    color: inherit;
    text-decoration: none;
}

.fm-ctxmenu li.icon {
    padding-left: 15px;
}

.fm-ctxmenu img.icon {
    position: absolute;
    width: 18px;
    left: 10px;
    top: 2px;
}

.fm-ctxmenu li.disabled {
    color: #ccc;
}

.fm-ctxmenu li.divider {
    border-bottom: 1px solid #aaa;
    margin: 5px 0;
}

.fm-ctxmenu li.interactive:hover {
    background: rgba(0, 0, 0, 0.1);
}

.fm-ctxmenu li.submenu::after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    right: 0.4em;
    margin: auto 0.1rem auto auto;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    transform: rotate(45deg);
    width: 0.3rem;
    height: 0.3rem;
}

.fm-ctxmenu li.submenu.disabled::after {
    border-color: #ccc;
}

.fm-body-overflow-hide {
    overflow: hidden !important;
}