.so-modal-overlay {
    --tblr-backdrop-zindex: 1050;
    --tblr-backdrop-bg: #182433;
    --tblr-backdrop-opacity: 0.24;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--tblr-backdrop-zindex);
    width: 100vw;
    height: 100vh;
    background-color: var(--tblr-backdrop-bg);
    opacity: var(--tblr-backdrop-opacity);

    &~.so-modal-overlay {
        z-index: var(--tblr-backdrop-zindex) - 1;
        display: none;
    }
}

.so-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1056 !important;
    animation: fadein 0.5s;

    .so-modal-dialog {
        position: relative;
        width: auto;
        margin: 0.5rem auto;
        pointer-events: none;
        max-width: 540px;

        .so-modal-content {

            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
            pointer-events: auto;
            background-color: #ffffff;
            background-clip: padding-box;
            border-radius: 2px;
            box-shadow: #1f596837 0 2px 4px 0;
            outline: 0;
            overflow: hidden;

            .so-modal-close {
                text-decoration: none;
                cursor: pointer;

                &:hover {
                    color: #a29b9b;
                }


                &::before {
                    border: 1px solid #1F5968;
                    background: #1F5968;
                    padding: 0px 10px;
                    font-size: 17px;
                    position: absolute;
                    right: 5px;
                    top: 5px;
                    color: #fff;
                    border-radius: 2px;
                    content: "\00d7";
                }
            }

            .so-modal-header {
                height: 40px;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                padding-top: 10px;
                padding-left: 5px;

                .so-modal-icon {
                    font-size: 20px;
                    color: #1F5968;
                }

                .so-modal-title {
                    display: flex;
                    align-items: center;
                    color: #1F5968;
                    padding-left: 5px;
                    flex: 1;
                }
            }

            .so-modal-body {
                position: relative;
                flex: 1 1 auto;
                min-height: 50px;
            }

            .so-modal-footer {
                height: 40px;
            }


        }
    }
}