.sokeio-page-ui {
    .page-header {
        margin-top: 10px !important;

        .btn {
            padding: 5px 10px !important;
            margin-left: 5px !important;

            i {
                font-size: 1.25rem !important
            }
        }

        .page-title {
            i {
                font-size: 1.25rem !important;
                margin-right: 5px !important;
            }
        }

        .page-header-actions {
            .sokeio-field-input {
                margin-bottom: 0 !important;
            }
        }
    }

    .page-body {
        margin-top: 10px !important;
        margin-bottom: 10px !important;

        .so-modal-button-right {
            display: flex;
            align-items: flex-start;
            justify-content: center;
        }
    }
}

.page-system-updater {
    .page-body {
        border: 0 !important;
    }

    .system-updater-wrapper {
        min-height: calc(100vh - 200px);
        border: 1px solid #d3d0d0;
        box-shadow: 0 0 2px #d3d0d0;
        border-radius: 5px;
        padding: 20px;
        display: flex;
        flex-direction: column;

        .system-updater-component {
            flex: auto;
        }

        .system-updater-bottom {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;

            .spinner-border {
                width: 2rem;
                height: 2rem;
                margin: 0 auto;
                top: -3rem;

                position: absolute;
            }
        }
    }
}