.permission-container {
    .permission-card {
        margin-bottom: 2rem;
        border: 1px solid #1F5968;
        border-radius: 2px;
        display: flex;
        flex-direction: column;

        input~span {
            margin-left: 0.5rem;
        }

        .permission-card-header {
            flex: none;
            display: flex;
            align-items: center;
            border-bottom: 1px solid #1F5968;
            padding: 0.5rem 1rem;
            color: #ffffff;
            background-color: #1F5968;
        }

        .permission-card-body {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
            gap: 7px;
            flex-wrap: wrap;
            min-height: 100px;
            padding: 0.5rem 1rem;

            .permission-box {
                border: 1px solid #1F5968;
                border-radius: 2px;
                margin: 0.25rem;
                display: flex;
                flex-direction: column;
                transition: all 0.3s ease-in-out;

                .permission-box-header {
                    display: flex;
                    margin-bottom: 8px;
                    border-radius: 2px;
                    padding: 5px;
                    background-color: #63c8e1;
                    border-bottom: 1px solid #63c8e1;
                }

                .permission-box-body {
                    padding: 5px;
                }

                .permission-item {
                    display: flex;
                    margin-bottom: 5px;

                    .form-check-input {
                        margin-right: 5px;
                    }
                }

                .permission-tree {
                    border: 1px solid #1F5968;
                    border-radius: 2px;
                    margin-bottom: 0.25rem;
                    .permission-tree-header {
                        display: flex;
                        margin-bottom: 8px;
                        border-radius: 2px;
                        padding: 5px;
                        background-color: #99d8e8;
                        border-bottom: 1px solid #99d8e8;
                    }

                    .permission-tree-body {
                        padding: 5px 5px 5px 15px;
                    }
                }
            }
        }
    }
}