.sokeio-table {
    border-radius: 2px;
    padding: 2px;

    table th,
    table td {
        padding: 0px !important;
    }

    thead tr th {
        padding: 2px !important;
        border: 1px solid #e5e5e5;
        &.column-group{
            padding: 7px !important;
            text-align: center;
        }
    }

    tbody {
        border: 1px solid #e5e5e5;

        tr td {
            border: 1px solid #e5e5e5;
        }
    }

    table th .sokeio-table-header {
        padding: 7px !important;
        display: flex;
        align-items: center;
        flex-direction: row;
        .form-check{
            margin-bottom: 0 !important;
        }
        .sokeio-table-header-title {
            flex: 1;
            display: flex;
            align-items: center;

            &>div {
                flex: 1;
            }
        }

        .sokeio-table-header-extra {
            margin-left: 5px;
        }
    }

    table td .sokeio-table-cell {
        padding: 6px !important;
        .form-check{
            margin-bottom: 0 !important;
        }
    }

    table tr:hover {
        background-color: #f5f5f5;
        color: #111;
    }
}

.sokeio-form-search-wrapper {
    padding: 5px;
    margin: 5px 0;

    .sokeio-form-search-main {
        display: flex;

        .sokeio-field-input {
            display: flex;
            align-items: center;
            margin-right: 5px;

            .form-label {
                margin-right: 10px;
                margin-bottom: 0 !important;
            }
        }

        .sokeio-form-search-action {
            margin-left: 10px;
        }
    }

    .sokeio-form-search-extra {
        margin-top: 5px;
        padding-top: 5px;
        border-radius: 2px;
    }

    .sokeio-field-input {
        display: inline-block;
    }

    .btn {
        border-radius: 2px !important;
        padding: 5px 10px;
    }


}